* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
a {
    text-decoration: none;
}
:root{
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d5;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --black: #201e1c;
    --off-white: #faf8f7;
    --just-white: #fff;
    --grey: #bababa;
}
body {
    width: 100%;
    height: 100vh;
    background-color: var(--soft-blue)
}
